@tailwind base;
@tailwind components;
@tailwind utilities;

.card-actions:last-child {
  margin-top: 0.5rem;
}

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0;
}

@media screen and (max-width: 640px) {
  .hide-sm {
    display: none;
  }
}
